@font-face {
  font-family: "EUROCAPS";
  src: url("./fonts/EUROCAPS.TTF");
}

body {
  background-color: #000;
  color: rgb(230, 129, 14);
  font-family: "EUROCAPS", Arial, sans-serif;
}

h1 {
  color: rgb(230, 129, 14);
}

button,
select,
input,
textarea,
label {
  font-family: "EUROCAPS", Arial, sans-serif;
  background-color: #000;
  color: rgb(230, 129, 14);
}

.knob-label {
  margin-top: 10px;
  text-align: center;
}

.chart-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  padding: 2%;
}

#eddnMessagesChart {
  width: 100% !important;
  height: 33% !important;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
