.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(2, 1fr);
}

@font-face {
  font-family: "EUROCAPS";
  src: url("./fonts/EUROCAPS.TTF");
}

body {
  background-color: #000;
  color: rgb(230, 129, 14);
  font-family: "EUROCAPS", Arial, sans-serif;
}

.welcomeMessage {
  text-align: right;
  float: right;
  margin-left: 0;
}

h1 {
  color: rgb(230, 129, 14);
}

form {
  margin: 20px;
}

button,
select,
input[type="text"],
input[type="submit"],
input[type="email"],
textarea,
label {
  font-family: "EUROCAPS", Arial, sans-serif;
  background-color: #000;
  color: rgb(230, 129, 14);
}

.task-description {
  max-width: 600px;
  word-wrap: break-word;
}

.glowing-emoji {
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}

.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;
}
.loadingIcon {
  width: 100%;
  height: 200px;
  margin-left: 0;
  margin: 0px;
}

@media (max-width: 768px) {
  .main-flex {
    display: flex;
    flex-direction: column;
  }
  .specifyTask {
    order: 1;
  }
  .welcomeMessage {
    order: 2;
  }
}
@media (min-width: 769px) {
  .main-flex {
    display: flex;
    flex-direction: row;
    align-items: center; /*flex-start*/
    /* width: 100vw; */
    justify-content: flex-start;
  }
  .welcomeMessage {
    text-align: right;
    margin-left: auto;
  }
  .specifyTask {
    margin-right: auto;
  }
}

.knob-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin-right: 40px;
  padding-left: 5%;
  padding-right: 10%;
}

.knob-label {
  margin-top: 10px;
  text-align: center;
}

.chart-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
}

#eddnMessagesChart {
  width: 100% !important;
  height: 33% !important;
  /* max-width: 100vw; */
}

.knob-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
}
.knob-side-content {
  flex: 1;
}
